@import url('nav.css');
@import url('side.css');
@import url('footer.css');
header{
display: flex;
flex-direction: column;
    height: 432px;
    background-color: #FFE7E7;
    justify-content: center;
}
h1  {
    margin: 0;
    text-align: center;
    color:#1044FF;
}
#h1{
    font-family: 'Noticia Text';
    font-weight: 700;
font-size: 72px;
line-height: 80px;
margin-top: 60px;
}
#p{
    font-family: 'Source Sans Pro';
    font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
margin: 0;
    text-align: center;
    color:#1044FF;

color: #1044FF;
}
.img{
/* james-donaldson-toPRrcyAIUY-unsplash */
width: 100%;
height: 250px;
border-radius: 10px;
}
.auth{
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
align-items: center;
    object-fit: cover;
    object-position: center top;
    margin-right: 5%;
}
section{
display: flex;
flex-direction: column;
height: 100%;
margin-bottom: 81px;
width: 100%;
}
.author{
    display: flex;
    flex-direction: row;
    height: 24px;
}
.name{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: rgba(51, 51, 51, 0.65);
}
.main{
    display: grid;
    grid-template-columns: 5% auto 2% auto 2% ;
  grid-template-rows: auto;
  grid-template-areas: '. a . b . '
  '. d . e . '
  '. h . i .'
  'p p p p p';
  margin:20px 20px 0 20px;  
}
.section{
    grid-area: a;
}
.sec1{
    grid-area: b;
}
.c{
    grid-area: c;
    border: 1px solid #1044FF;
    height: fit-content;
    width: 232px;
    padding: 1rem 1rem;
}

.sec2{
    grid-area: d;

}
.sec3{
    grid-area: e;
}
.sec4{
    grid-area: h;
}
.sec5{
    grid-area: i;
}
.card1{
height: 100%;
margin-bottom: 20px;
}

.container{
    display: flex;
}
.div1{
    margin:20px 20px 0 20px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px 350px 150px;
    grid-template-areas: 'c'
    'f'
    'g';
}

.title {
    font-family: Source Sans Pro;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
padding:  10px 0;
}
h2{
    margin-top: 15px;
}
.discription{
    font-family: Source Sans Pro;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color: #112A52;
}

.na{
    font-family: Source Sans Pro;
font-size: 24px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color: #0C1F3F;
}
.lo{
    font-family: Source Sans Pro;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:#333333A6;

}

.click{
    grid-area: p;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}


.b1{
    height: 48px;
width: 48px;
left: 0px;
top: 0px;
border-radius: 3px;
color: #fff;
background-color: #1044FF;
box-sizing: border-box;
border: none;
margin-right: 2%;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
}
.b2{
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    box-sizing: border-box;
border: none;
margin-right: 2%;
color: #1044FF;
background-color: #fff;
border: 1px solid #1044FF;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
}
.s2{
    height: 48px;
width: 106px;
left: 0px;
top: 0px;
border-radius: 3px;
color: #1044FF;
border: 1px solid #1044FF;
border-radius: 2px;
background-color: #fff;
}






@media(min-width:1300px){
    .img{
        width: 370px;
        height: 288px;
    }
}